body {
	background: #404040;
	border-color: white;
	border: gray solid 5px;
	padding: 50px;
	font-family: Times New Roman;
	margin: 20px;


}

h1 {
	text-align-last: center;
	align-content: center;
	color: white;
	font-size: 40px
}

nav {
	text-align: center;
	align-content: center;
	color: green;
	font-size: 20px;
}

h2 {
	font-size: 30px;
}

article {
	color: white;
}

.image {
	float: right;
	border: solid 1px;
	border-color: white;
}

}

footer {
	align-content: center;
	text-align: center;
	color: green;
	font-size: 20px;
}

a {
	color: #2dd48b;
}

.nav-link--selected {
	color: white;
}

li {
	padding: 15px;

}

.list {
	
}





